nav ul {
    list-style: none; 
    display: inline-flex;
    width: 100%;
}

nav ul li {
    display: block; 
    text-align: center;
    padding: 16pt;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
}

nav ul li a.current {
    color: #b5e853;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}