nav ul {
    list-style: none;
    display: inline-flex;
    width: 100%;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 16pt;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.current {
    color: #b5e853;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    body { color:black; }
}

@media screen
{
    .print-only {
        display: none !important;
    }
}

FOOTER {
    margin-top: 1em;
}

.jumplink {
    text-decoration: none;
    display: none;
}

H2:hover .jumplink, H3:hover .jumplink, H4:hover .jumplink, H5:hover .jumplink, H6:hover .jumplink {
    display: inline;
}

FIGCAPTION {
    font-size: smaller;
    margin-left: 1em;
    margin-right: 1em;
}

IMG {
    page-break-after: avoid;
}

FIGURE {
    -webkit-column-break-inside: avoid;
}