{% include base.html %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
  <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relative_url }}">
  {% include head-custom.html %}

  {% seo %}
</head>

<body>
  <div id="sidebar-toggles" class="no-print">
    <button id="toggle-toc" class="sidebar-toggle left">☰ TOC</button>
    <button id="toggle-sitemap" class="sidebar-toggle right">☰ Sitemap</button>
  </div>

  <header class="no-print">
    <div class="container" id="banner">
      <div id="header-left">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <h2>{{ site.description }}</h2>
      </div>
  
      <div id="header-right">
        {% include search.html %}
      </div>
    </div>
  </header>

  <div class="container">
  
    <section id="toc" class="side-nav no-print">
      <h3>On This Page</h3>
      {% include toc.html html=content class=toc id=toc h_min=2 %}
    </section>
    <section id="main_content">
      <section class="print-only">
        <img style="float: right; width: 25%;" src="{{ base }}/qr/qr-{{page.url | slugify}}.png" />
        This page is part of BoVLB's FRC Tips.
        Find this page online at https://bovlb.github.io/frc-tips{{page.url}}
      </section>
      {% include anchor_headings.html html=content anchorBody="🔗" h_min=2 beforeHeading=false anchorClass="jumplink" %}
    </section>
    <section id="sitemap" class="side-nav no-print nav">
      {% include nav.html %}
    </section>
  </div>

  <footer class="no-print">
    <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
  </footer>
  <script>
window.addEventListener('DOMContentLoaded', () => {
  const toc = document.getElementById('toc');
  const sitemap = document.getElementById('sitemap');

  const toggle = (target, other) => {
    const isOpen = target.classList.toggle('visible');
    other.classList.remove('visible');
    document.body.classList.toggle('dimmed', isOpen);
  };

  document.getElementById('toggle-toc')?.addEventListener('click', () => toggle(toc, sitemap));
  document.getElementById('toggle-sitemap')?.addEventListener('click', () => toggle(sitemap, toc));
});
  </script>
</body>

</html>
<!--
qr/qr-{{ page.url | slugify }}.png https://bovlb.github.io/frc-tips{{ page.url }} {{page.title}}
-->